*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

nav{
    width: 100%;
    background-color: blue;
    display:flex;
    justify-content: center;
    height: 70px;
}
nav ul{
    display: flex;
    margin: 22px auto;
}
nav ul li{
    list-style: none;
    padding: 0 10px;
}



.container-slider {
    display: flex;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 110%;
    height: 100%;

    border-radius: 10px;
  }
  
  .on {
    opacity: 1;
  }
  
  #prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
  }
  #prev-button{
    left: 0;
    position: absolute;
  }
  #next-button{
    right: 0;
    position: absolute;
  }
  
  #prev-button img, #next-button img {
    width: 100%;
    height: 100%;
  }
  
  #prev-button {
    transform: rotate(180deg);
  }

.secao-eu{
    width: 100%;
    height: 400px;
    background-color: blueviolet;
}
.container2{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.paragrafo1{
    margin: 100px auto;
    width: 50%;
    
}

.secao-eu img{
    margin: 0 auto;
    width: 400px;
    height: 400px;
}
.secao-projetos{
    background-color: rgb(117, 117, 255);
    width: 100vw;
    padding: 100px;
    display: flex;
    justify-content: center;

}
.projetos{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
}
.p1{
    height: 400px;
    background-color: rgba(0, 0, 255, 0.442);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.p1 h2{
    line-height: 40px;
}
.p1 img{
    width: 70%;
    height: 70%;
}
.p1 button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background-color: #000070;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3 ease;
    margin-bottom: 10px;
}



